body {
	background-color: #6868A4;
}

h1, h2, p{
	color: white;	
	font-family: "Times New Roman", Times, serif;	
}

h1, h2{
	text-align: center;
}

p{
	font-size: 20px;
	text-align: justify;
}

.divSite{
	position: absolute;
	margin-top: 10px;
	width: 80%;
	margin-left: 10%;
}

.button {
	-moz-box-shadow: 0px 10px 14px -7px #8480A5;
	-webkit-box-shadow: 0px 10px 14px -7px #8480A5;
	box-shadow: 0px 10px 14px -7px #8480A5;
	background-color:#AAA7C4;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.button-position{	
	position: relative;
	margin-left: 41%;
	float: left;	
	font-size:20px;
}

.button:hover {
	background-color:#8480A5;
}
.button:active {
	position:relative;
	top:1px;
}


.divConteudo{
	margin-top:10%;
}


.textoDireita, .textoEsquerda{
	width: 45%;
	position: relative;
	float: left;
	height: 210px;
}
.textoDireita{
	margin-left: 5%;
	margin-right: 0px;
}

.textoEsquerda{
	margin-left: 0%;
	margin-right: 5%;	
}

.divConvite{
	margin-left: 0px;
	padding-left: 0px;
	width: 100%;
	padding: 0px 0px;
	position: relative;
	padding-top: 0px;
	float: left;
}

/* Estilos da página de cadastro*/
label{
	width: 20%;
	position: relative;
	float: left;
	margin-left: 25%;
	margin-top: 5%;
}

input{
	float: left;
	width: 50%;
	margin-left: 25%;	
	margin-top: 1%;
}
.divForm{
	background-color: white;
	width: 30%;
	margin-left: 35%;
	margin-top: 15%;
	height: 200px;
	border-radius: 2%;
}
/* Fim dos estilos da página de cadastro*/

/* Estilos para a página de Agraedcimentos*/

.button-central{
	width: 20%;
	margin-left: 40%;
	margin-top: 20%;
}