body {
	background-color: #6868A4;
}

h1, h2, p{
	color: white;	
	font-family: "Times New Roman", Times, serif;	
}

h1, h2{
	text-align: center;
}

p{
	font-size: 20px;
}

.divConteudo{
	position: absolute;
	margin-top: 10px;
	width: 80%;
	margin-left: 10%;
}

.textoDireita{
	width: 50%;
	position: relative;
	margin-top: -8.5%;
	margin-left: 50%;
	padding-left: 10px;
}

.textoEsquerda{
	width: 50%;
	margin-top: 7%;
	position: relative;
	padding-right: 10px;
}